.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.bases {
  font-size: 40px;
}
.base1 {
  position: absolute;
  top: 20%;
  left: 55.65%;
}
.base2 {
  position: absolute;
  top: 9.25%;
  left: 49.70%;
}
.base3 {
  position: absolute;
  top: 20%;
  left: 43.75%;
}
.hide {
  display: none;
}